<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Cadastro de Alunos - CrossX</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>Cadastro de Alunos - CrossX</h1>
    <section id="Main">
      <div id="Alunos">
        <h2>Alunos</h2>
        <ul id="alunosList"></ul>
        <h2>Pagamentos</h2>
        <ul id="pagamentosList"></ul>
      </div>
      

      <section>
      <form id="alunoForm">
        <h2>Novo Aluno</h2>
        <input type="text" name="nome" placeholder="Nome" required />
        <input type="text" name="endereco" placeholder="Endereço" required />
        <input type="text" name="cidade" placeholder="Cidade" required />
        <input
          type="text"
          name="estado"
          placeholder="UF"
          maxlength="2"
          required
        />
        <input type="text" name="telefone" placeholder="Telefone" required />
        <button type="submit">Cadastrar</button>
      </form>
    </section>
    </section>
    

    <section id="Update">
      <form id="updateAlunoForm">
        <h2>Atualizar Aluno</h2>
        <input type="number" name="id" placeholder="ID do Aluno" required />
        <input type="date" name="data_vencimento" />
        <button type="submit">Atualizar</button>
      </form>
      
      <form id="desligarForm">
        <h2>Desligar Aluno</h2>
        <input type="number" name="id" placeholder="ID do Aluno" required />
        <input type="date" name="data_desligamento" required />
        <button type="submit">Registrar Desligamento</button>
      </form>

      <form id="pagamentoForm">
        <h2>Novo Pagamento</h2>
        <input
          type="number"
          name="aluno_id"
          placeholder="ID do Aluno"
          required
        />
        <input type="date" name="data" required />
        <input
          type="number"
          name="valor"
          placeholder="Valor"
          step="0.01"
          required
        />
        <select name="tipo" required>
          <option value="dinheiro">Dinheiro</option>
          <option value="cartão">Cartão</option>
        </select>
        <button type="submit">Registrar Pagamento</button>
      </form>
    </section>
    <script src="/static/script.js"></script>
  </body>
</html>
